<nav class="navbar  navbar-dark bg-dark">
  <div class="navbar-nav navbar-expand">
    <a class="nav-item nav-link" *ngIf="isLogin() && User" style="margin-right: 10px;" routerLink="/">Hey,
      {{User.firstName}}</a>
    <a class="nav-item nav-link" *ngIf="!isLogin()" style="margin-right: 10px;" routerLink="/">Hey,
      Guest</a>
    <a class="nav-item nav-link" *ngIf="isLogin()" (click)="signOut()">Logout</a>
    <a class="nav-item nav-link" *ngIf="!isLogin()">Login</a>
  </div>
  <img *ngIf="User && User.photoUrl " style="width: 30px;border-radius: 50% !important;;" class="rounded float-right"
    src="{{User.photoUrl}}">

</nav>

<!-- main app container -->

<div class="background">

  <router-outlet></router-outlet>

</div>